.steper {
    position: relative;
}

.steper1 {
    width: 99%;
    height: 25px;
    /*background-color: #c5c5c5;*/
    background-color: rgba(197, 197, 197, 0.35);
    border-radius: 20px;
    align-items: center;
    display: flex;
    align-items: center;
}

.steperInsider {
    height: 18px;
    background-color: #c5c5c5;

    position: absolute;
    width: 32%;
    border-radius: 20px;
    margin-left: 4px;
    transition: width 0.7s, background-color 0.7s; /* Added transition here */
}

.oneIconSteper {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #c5c5c5;
    margin-top: -27.5px;
    margin-left: 30%;
}

.twoIconSteper {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #c5c5c5;
    margin-top: -27.5px;
    margin-left: 70%;
}

@media (max-width: 768px) {
    .steper {
        width: 100%;
    }

}